
html{
  width:100%;
  scroll-behavior: smooth;
  background-color: #E6F2EB;
}
/* #nav-bar{
  width:90%;
  background-color: white;
  /* opacity:.8;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 5%;
  padding-right:5%;
} */
/* The navigation menu */
.navbar {
  background-color: #333;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  left:0;

}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* The subnavigation menu */
.subnav {

  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #96C3AA;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #96C3AA;
  width: 100%;
  z-index:1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: gray;
  opacity:.8;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/*For media query when in mobile viewing*/

#main-title{
  font-family: 'Noto Sans TC', sans-serif;
   font-size: 35px;
   color:white;
   text-align: left;
     margin-left: 5%;
     margin-right: 5%;
}
h1{
  font-family: 'Noto Sans TC', sans-serif;
   font-size: 50px;
   text-align: center;
   padding-top: 10%;
   color:#4F607C;
   text-shadow:black;
}
.lighter-h1{
  color:#FFFFFF;

}
#main-subtitle{
  font-family: 'Open Sans Condensed', sans-serif;
  color:#ED8779;
  text-align: right;
  font-size: 25px;
  font-style: italic;

}
h2{
  font-family: 'Open Sans Condensed', sans-serif;
  color:#ED8779;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;

}
.topics{
  padding-left: 10%;
  background-color: white;
  opacity:.8;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
}
.topics:hover{
  background-color: #ED8779;
  opacity:0.8;
}
#government-topics{
  margin-bottom: 5%;
}
a{
  text-decoration: none;
  font-weight: normal;
  color:#3C3A3A;
}

#menu{
  width:3%;
}
#logo{
  width:40%;
}

#first-section{
  z-index:0;
  top:0;
  left:0;
  background-size: cover;
  background-image: url(../img/first_slide_bkgrd.jpg);
  background-repeat:no-repeat;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items:flex-end;
  padding-top: 5%;
  margin-right: 10%;
  text-align: right;
}
#arrow{
  width:5%;
  align-self: center;
  padding-top: 15%;
  cursor: pointer;
}
.arrows{
  cursor: pointer;
  align-self: center;
  width:5%;
  padding-left: 48%;
}
.section{
  padding-bottom: 5%;
}
#second-section,#fifth-section{
background-size: cover;
background-image: url(../img/skyscraper.jpeg);
background-repeat:no-repeat;
top:0;
left:0;
align-items: center;
justify-content: center;
}
#first-section, #second-image, #third-section, #fourth-section, #fifth-section{

  width:100%;
  height:900px;
}
#third-section{
  background-size: cover;
  background-image: url(../img/path.jpg);
  background-repeat:no-repeat;
  top:0;
  left:0;
}
#fourth-section{
  background-size: cover;
  background-image: url(../img/plane.jpeg);
  background-repeat:no-repeat;
  top:0;
  left:0;
}
.article-format{
  margin:10%;
}
.article-photos{
  width:70%;
  align-self: center;
  justify-content: center;

  /*float:center;
*/
}


.news-section{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.latest-news{
  justify-content: center;
  align-items: center;
  flex-flow: row;
  display:grid;
  grid-column:50%;
}
.thumbnail{
  width:300px;
  display: flex;
  justify-content: center;
  align-self:center;

}
.headline{
text-align: center;
}

p{
  font-family: 'Noto Sans TC', sans-serif;
  color:gray;

}

#google-books{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 500px; height: 800px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/*background images:
Skyscraper with sky, Photo by Scott Webb: Webbhttps://unsplash.com/photos/6uemtRf4VrA
Plane Photo by beasty: https://unsplash.com/photos/clzzNQKfRTA
Protest Signs by Nitish Meena: https://unsplash.com/photos/IFh4o-U-BGg
Man Holding a Loudspeaker by Melany Rochester: https://unsplash.com/photos/FAQ4RE76Nvs
W3 Schools: Dropdown Menus: https://www.w3schools.com/howto/howto_js_dropdown.asp,
Flipbox: https://www.w3schools.com/howto/howto_css_flip_box.asp,
Dropdown Menubar: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
Smooth Scrolling: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1
