
html{
  width:100%;

  background-color: #E6F2EB;
}
/* #nav-bar{
  width:90%;
  background-color: white;
  /* opacity:.8;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 5%;
  padding-right:5%;
} */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

#main-title{
  font-family: 'Noto Sans TC', sans-serif;
   font-size: 35px;
   color:white;
   text-align: left;
     margin-left: 5%;
     margin-right: 5%;
}
h1{
  font-family: 'Noto Sans TC', sans-serif;
   font-size: 50px;
   text-align: center;
   padding-top: 10%;
   color:#96C3D1;
   text-shadow:black;
}
#main-subtitle{
  font-family: 'Open Sans Condensed', sans-serif;
  color:#ED8779;
  text-align: right;
  font-size: 25px;
  font-style: italic;

}
h2{
  font-family: 'Open Sans Condensed', sans-serif;
  color:#ED8779;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;

}
.topics{
  padding-left: 10%;
  background-color: white;
  opacity:.8;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
}
.topics:hover{
  background-color: #ED8779;
  opacity:0.8;
}
#government-topics{
  margin-bottom: 5%;
}
a{
  text-decoration: none;
  font-weight: normal;
  color:#3C3A3A;
}

#menu{
  width:3%;
}
#logo{
  width:40%;
}

#first-section{
  z-index:9;
  top:0;
  left:0;
  background-size: cover;
  background-image: url(../img/first_slide_bkgrd.jpg);
  background-repeat:no-repeat;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items:flex-end;
  padding-top: 5%;
  margin-right: 10%;
  text-align: right;
}
#arrow{
  width:5%;
  align-self: center;
  padding-top: 15%;
  cursor: pointer;
}
.arrows{
  cursor: pointer;
  align-self: center;
  width:5%;
  padding-left: 48%;
}
#second-section,#fifth-section{
background-size: cover;
background-image: url(../img/skyscraper.jpeg);
background-repeat:no-repeat;
top:0;
left:0;
align-items: center;
justify-content: center;
}
#first-section, #second-image, #third-section, #fourth-section, #fifth-section{

  width:100%;
  height:900px;
}
#third-section{
  background-size: cover;
  background-image: url(../img/path.jpg);
  background-repeat:no-repeat;
  top:0;
  left:0;
}
#fourth-section{
  background-size: cover;
  background-image: url(../img/plane.jpeg);
  background-repeat:no-repeat;
  top:0;
  left:0;
}
.article-format{
  margin:10%;
}
.box{
  width:70%;
  /*float:center;
*/
}


#news-section{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.thumbnail{
  width:200px;
  display: flex;
  justify-content: center;
  align-content:
}

p{
  font-family: 'Noto Sans TC', sans-serif;
  color:gray;

}

#google-books{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 500px; height: 800px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/*background images:
Skyscraper with sky, Photo by Scott Webb: Webbhttps://unsplash.com/photos/6uemtRf4VrA
Plane Photo by beasty: https://unsplash.com/photos/clzzNQKfRTA
W3 Schools: Dropdown Menus: https://www.w3schools.com/howto/howto_js_dropdown.asp,
Flipbox: https://www.w3schools.com/howto/howto_css_flip_box.asp,
Dropdown Menubar: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
